<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-left" style="display:none" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large"
  onclick="w3_close()">Close</button>
  <a href="/restaurants" class="w3-bar-item w3-button" style="visibility:visible">Restaurants</a>
  <a href="/points" class="w3-bar-item w3-button" style="visibility:visible">Points of Interest</a>
  <a href="#" class="w3-bar-item w3-button">.</a>
  <a href="#" class="w3-bar-item w3-button">.</a>
  
  <a href="/map" class="w3-bar-item w3-button">Interactive Map</a>
</div>

<div id="main">

<div class="w3-teal">
  <button id="openNav" class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>
  <div class="w3-container" style="display:inline-block;">
    <h1 style="text-align:center;">Welcome to Chinatown!</h1>
  </div>
</div>

<div class="w3-container">
<p>San Francisco Chinatown is the largest Chinatown outside of Asia as well as the oldest Chinatown in North America. It is one of the top tourist attractions in San Francisco. You can use this site to learn more about the attractions, culture, history, and events in Chinatown. If you plan to visit us, you can book a Chinatown tour, hotel rooms, and more.</p>
<p>Upcoming Events:</p>
</div>

</div>

<script>
function w3_open() {
  document.getElementById("main").style.marginLeft = "25%";
  document.getElementById("mySidebar").style.width = "25%";
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("openNav").style.display = 'none';
}
function w3_close() {
  document.getElementById("main").style.marginLeft = "0%";
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("openNav").style.display = "inline-block";
}
</script>

</body>
</html>
